@page "/new-bug"
@inherits NewBugBase
@using BugTrackerUI.Helpers

<h3 class="text-center">Add New Bug</h3>

<div class="container">
    <EditForm Model="AddBug" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-row">
            <label class="col-sm-2" align-content-center">Title:</label>
            <input class="form-text form-control col-sm-10" type="text" @bind-value="@AddBug.Title" placeholder="Enter Title">
        </div>
        <div class="form-row">
            <label class="col-sm-2" >Priority:</label>
            <select @bind="@AddBug.Priority" class="form-text form-control col-sm-10">
                @foreach (var value in Enum.GetValues(typeof(Priority)).OfType<Priority>())
                {
                    <option value="@value">@DescriptionHelper.GetDescriptionAttributeOrToString(value)</option>
                }
            </select>
        </div>
        <div class="form-row">
            <textarea class="form-text form-control col-sm-12" rows="5" @bind="@AddBug.Description" placeholder="Enter Description">
            </textarea>
        </div>
        <div class="form-row">
            <button type="submit" class="offset-sm-10 col-sm-2 form-control btn-primary">Add Bug</button>
        </div>

    </EditForm>
</div>

